# Модули
node_modules/

# Все приватные папки
_*/

# Зарендаренные файлы
# bin/

# Backup
backup/

# Release
release/

# Docs
docs/

# Local test
bin/_test.js
development/_test.coffee

# Все bat файлы
*.bat

# Все логи
*.log

# Gulp
gulpfile.js
#gulpfile.coffee